
<div id="myDiv" >
<h2>PeerJS Video Chat Example</h2></br>
<h2>Hello {{vm.user.firstName}}!! &nbsp;<button id="start" ng-click="step1()" ng-disabled="isDisabled">{{button}}</button></h2>
<div>
  
   <div class="pure-g">

      <!-- Video area -->
	  
      <div class="pure-u-2-3" id="video-container">
        <div id="videoStream"><video id="their-video" autoplay controls></video>
        <video id="my-video" muted="true" autoplay controls></video></div>
      </div>

      <!-- Steps -->
      <div class="pure-u-1-3">
        

        <!-- Get local audio/video stream -->
        <div id="step1">
          <p>Please click `allow` on the top of the screen so we can access your webcam and microphone for calls.</p>
          <div id="step1-error">
            <p>Failed to access the webcam and microphone. Make sure to run this demo on an http server and click allow when asked for permission by the browser.</p>
            
          </div>
        </div>

        <!-- Make calls to others -->
        <div id="step2">
          <h3>Make a call</h3>
                 <div ng-repeat="user in online | filter: { streaming: 'true' }">
      
				  <div class="pure-form">
				  
				  <h2>{{$index + 1}}. {{user.firstName}}&nbsp;{{user.lastName}} <img src="../public/images/{{user.avatar}}" width="80" height="80" /> 
				  <a href="#" class="pure-button pure-button-success" id="callto-id" data={{user.streamId}} value="{{user.streamId}}" ng-click="CallUser(user.streamId)">Call</a></h2>
				  
					  
				</div>
				
			</div>
        </div>

        <!-- Call in progress -->
        <div id="step3">
          <p><a href="#" class="pure-button pure-button-error" id="end-call" ng-click="end()">End call</a></p>
        </div>
      </div>
  </div>
  </div>